<div class="row">
  <div class="span8 offset4">
    <h3>Choose an experiment</h3>
    <%= form_tag do %>
      <%= select_tag("experiments", options_from_collection_for_select(@experiments, "id", "name"), 
                     include_blank: true, prompt: "Choose an experiment") %>
    <% end -%>
  </div>
</div>
